      /* Responsive Design */

      @media (max-width: 1400px) {
        .hero .content {
          align-items: center;
          text-align: center;
        }
        .hero h4 {
          width: 100%;
        }
      
        .hero::after {
          animation: none;
        }
      }
      @media (max-width: 1338px) {
        html {
          font-size: 10px;
        }
      
        nav ul {
          flex-direction: column;
        }
        nav ul li {
          margin: 0.5rem 0;
        }
      
        .qualities-container {
          flex-wrap: wrap;
        }
        .quality {
          width: 100%;
        }
      }
      
      @media (max-width: 1338px) {
        html {
          font-size: 8px;
        }
      
        .about-us img {
          display: none;
        }
        .about-content {
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      
      @media (min-width: 1338px) {
        input,
        textarea {
          width: 40%;
        }
      }
